<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( "static",filename="homepage.css" )}}">
    <title> Premium Tutors | Students's Homepage</title>
</head>

<body>
    <div class="header">
        <h2><span style="color: rgb(8, 31, 161); font-size: 40px; background-color: #fff;">Premium</span>Tutors</h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/"><button class="findtutor-button">Find Tutors</button></a></li>
                <li><a href="/sign-up"><button class="becometutor-button">Become a Tutor</button></a></li>
            </ul>
        </nav>
        <a href="/contact" target="_parent"><button
                class="contact-button">Contact Us</button></a>
        <a href="/logout" target="_parent"><button
                class="logout-button">Log Out</button></a>
    </div>

    <div class="main-part">
        <div class="first-box">
            <div class="all-info-container">
                <div class="first-part">
                    <img src="../static/images/male-profile.jpg" class="profile-img">
                </div>
                <div class="middle-part">
                    <div class="first-line">
                        <p>Brendon S.</p>
                    </div>
                    <div class="second-line">
                        <p>English</p>
                    </div>
                    <div class="third-line">
                        <ion-icon name="person-outline" class="people-icon"></ion-icon>
                        <p>12 active students • 593 lessons</p>
                    </div>
                    <div class="fourth-line">
                        <p>Speaks: English <span> Native</span> German<span> Intermediate</span> </p>
                    </div>
                    <div class="fifth-line">
                        <p>HR Professional to help you prepare for job interviews or everyday business English.</p>
                    </div>
                    <div class="sixth-line">
                        &#8212; Before becoming an English teacher, I worked in Human Resources. Job interviews and
                        business
                        English are my expertise. Prepare your CV and job interview skills or discuss your projects at
                        work and prepare for the big meetings and presentations. My second expertise is in IT and
                        Project Management.
                    </div>
                </div>
                <div class="last-part">
                    <div class="first-level">
                        <div class="first-level-first-part">
                            <div class="star-box">
                                <ion-icon name="star" style="color: gold;"></ion-icon>
                                <p style="margin-left: 8px; font-size: 16px;">5</p>
                            </div>
                            <div class="review-box">
                                <p>12 <span
                                        style="color: rgb(111, 117, 123); font-size: 15px; font-weight: normal; margin-left: 3px;">reviews</span>
                                </p>
                            </div>
                        </div>
                        <div class="first-level-second-part">
                            <div class="money-box">
                                <p style="margin-left: 8px; font-size: 17px; margin-bottom: 17px;">694
                                    TRY</p>
                            </div>
                            <div class="time-box">
                                <p style="color:rgb(111, 117, 123); font-size: 14px; margin-top: -1px;">50-min lesson
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="second-level">
                        <div style="margin: 15px 20px;"><button class="btn1">Book trial lesson</button></div>
                    </div>
                    <div class="third-level">
                        <div style="margin: 0px 20px;"><button class="btn2">Message</button></div>
                    </div>
                </div>
            </div>


            <div class="all-info-container">
                <div class="first-part">
                    <img src="../static/images/women-profile.webp" class="profile-img">
                </div>
                <div class="middle-part">
                    <div class="first-line">
                        <p>Karishma M.</p>
                    </div>
                    <div class="second-line">
                        <p>Chemistry</p>
                    </div>
                    <div class="third-line">
                        <ion-icon name="person-outline" class="people-icon"></ion-icon>
                        <p>25 active students • 1,121 lessons</p>
                    </div>
                    <div class="fourth-line">
                        <p>Speaks: English <span> Proficient</span></p>
                    </div>
                    <div class="fifth-line">
                        <p>Certified tutor with 15 years of experience teaching Chemistry to school students (IGCSE,
                            GCSE, O-Level, Edexcel, ICSE, CBSE).</p>
                    </div>
                    <div class="sixth-line">
                        &#8212; I’m a passionate and results oriented, Chemistry Teacher with 21 years of teaching
                        experience from a reputed International School. I’m seeking to leverage effective lesson
                        planning and empathetic attitude to make Chemistry learning an enjoyable experience.
                    </div>
                </div>
                <div class="last-part">
                    <div class="first-level">
                        <div class="first-level-first-part">
                            <div class="star-box">
                                <ion-icon name="star" style="color: gold;"></ion-icon>
                                <p style="margin-left: 8px; font-size: 16px;">4.5</p>
                            </div>
                            <div class="review-box">
                                <p>8 <span
                                        style="color: rgb(111, 117, 123); font-size: 15px; font-weight: normal; margin-left: 3px;">reviews</span>
                                </p>
                            </div>
                        </div>
                        <div class="first-level-second-part">
                            <div class="money-box">
                                <p style="margin-left: 8px; font-size: 17px; margin-bottom: 17px;">365
                                    TRY</p>
                            </div>
                            <div class="time-box">
                                <p style="color:rgb(111, 117, 123); font-size: 14px; margin-top: -1px;">50-min lesson
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="second-level">
                        <div style="margin: 15px 20px;"><button class="btn1">Book trial lesson</button></div>
                    </div>
                    <div class="third-level">
                        <div style="margin: 0px 20px;"><button class="btn2">Message</button></div>
                    </div>
                </div>
            </div>


            <div class="all-info-container">
                <div class="first-part">
                    <img src="../static/images/male-profile.jpg" class="profile-img">
                </div>
                <div class="middle-part">
                    <div class="first-line">
                        <p>Kyle D.</p>
                    </div>
                    <div class="second-line">
                        <p>Computer science</p>
                    </div>
                    <div class="third-line">
                        <ion-icon name="person-outline" class="people-icon"></ion-icon>
                        <p>13 active students • 300 lessons</p>
                    </div>
                    <div class="fourth-line">
                        <p>Speaks: English <span> Native</span></p>
                    </div>
                    <div class="fifth-line">
                        <p>Experienced Software Developer with 4 Years in the Field</p>
                    </div>
                    <div class="sixth-line">
                        &#8212; Hello! My name is Kyle, and I'm an avid enthusiast of anime, manga, mathematics, and
                        science. As a self-proclaimed nerd, I'm passionate about these interests and always on the
                        lookout for new shows to enjoy or fascinating subjects to learn.
                    </div>
                </div>
                <div class="last-part">
                    <div class="first-level">
                        <div class="first-level-first-part">
                            <div class="star-box">
                                <ion-icon name="star" style="color: gold;"></ion-icon>
                                <p style="margin-left: 8px; font-size: 16px;">5</p>
                            </div>
                            <div class="review-box">
                                <p>18 <span
                                        style="color: rgb(111, 117, 123); font-size: 15px; font-weight: normal; margin-left: 3px;">reviews</span>
                                </p>
                            </div>
                        </div>
                        <div class="first-level-second-part">
                            <div class="money-box">
                                <p style="margin-left: 8px; font-size: 17px; margin-bottom: 17px;">594
                                    TRY</p>
                            </div>
                            <div class="time-box">
                                <p style="color:rgb(111, 117, 123); font-size: 14px; margin-top: -1px;">50-min lesson
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="second-level">
                        <div style="margin: 15px 20px;"><button class="btn1">Book trial lesson</button></div>
                    </div>
                    <div class="third-level">
                        <div style="margin: 0px 20px;"><button class="btn2">Message</button></div>
                    </div>
                </div>
            </div>


            <div class="all-info-container">
                <div class="first-part">
                    <img src="../static/images/women-profile.webp" class="profile-img">
                </div>
                <div class="middle-part">
                    <div class="first-line">
                        <p>Baharak M.</p>
                    </div>
                    <div class="second-line">
                        <p>Algebra</p>
                    </div>
                    <div class="third-line">
                        <ion-icon name="person-outline" class="people-icon"></ion-icon>
                        <p>2 active students • 83 lessons</p>
                    </div>
                    <div class="fourth-line">
                        <p>Speaks: English <span> Native</span></p>
                    </div>
                    <div class="fifth-line">
                        <p>A well trained math tutor mainly Algebra with 2.5 years of successful math tutoring.</p>
                    </div>
                    <div class="sixth-line">
                        &#8212; Hi, my name is Baharak. Thankfully, I very enjoy tutoring math to middle and high school
                        students. My teaching style is friendly professional. I have been tutoring middle and high
                        school students in Algebra and Trigonometry.
                    </div>
                </div>
                <div class="last-part">
                    <div class="first-level">
                        <div class="first-level-first-part">
                            <div class="star-box">
                                <ion-icon name="star" style="color: gold;"></ion-icon>
                                <p style="margin-left: 8px; font-size: 16px;">5</p>
                            </div>
                            <div class="review-box">
                                <p>3 <span
                                        style="color: rgb(111, 117, 123); font-size: 15px; font-weight: normal; margin-left: 3px;">reviews</span>
                                </p>
                            </div>
                        </div>
                        <div class="first-level-second-part">
                            <div class="money-box">
                                <p style="margin-left: 8px; font-size: 17px; margin-bottom: 17px;">377
                                    TRY</p>
                            </div>
                            <div class="time-box">
                                <p style="color:rgb(111, 117, 123); font-size: 14px; margin-top: -1px;">50-min lesson
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="second-level">
                        <div style="margin: 15px 20px;"><button class="btn1">Book trial lesson</button></div>
                    </div>
                    <div class="third-level">
                        <div style="margin: 0px 20px;"><button class="btn2">Message</button></div>
                    </div>
                </div>
            </div>


            <div class="all-info-container">
                <div class="first-part">
                    <img src="../static/images/male-profile.jpg" class="profile-img">
                </div>
                <div class="middle-part">
                    <div class="first-line">
                        <p>Ryan H. </p>
                    </div>
                    <div class="second-line">
                        <p>Biology</p>
                    </div>
                    <div class="third-line">
                        <ion-icon name="person-outline" class="people-icon"></ion-icon>
                        <p>9 active students • 383 lessons</p>
                    </div>
                    <div class="fourth-line">
                        <p>Speaks: English <span> Native</span></p>
                    </div>
                    <div class="fifth-line">
                        <p>Brown University medical student tutoring STEM! </p>
                    </div>
                    <div class="sixth-line">
                        &#8212; Hi all! My name is Ryan, and I'm a fourth-year medical student at Brown University. I
                        previously graduated from Washington University in St. Louis with my BA in
                        Philosophy-Neuroscience-Psychology (PNP). I am currently applying for residency in emergency
                        medicine, and I'm excited to further explore my interests in geriatrics, palliative care,
                        caregiver burden, and psychiatry.
                    </div>
                </div>
                <div class="last-part">
                    <div class="first-level">
                        <div class="first-level-first-part">
                            <div class="star-box">
                                <ion-icon name="star" style="color: gold;"></ion-icon>
                                <p style="margin-left: 8px; font-size: 16px;">5</p>
                            </div>
                            <div class="review-box">
                                <p>2 <span
                                        style="color: rgb(111, 117, 123); font-size: 15px; font-weight: normal; margin-left: 3px;">reviews</span>
                                </p>
                            </div>
                        </div>
                        <div class="first-level-second-part">
                            <div class="money-box">
                                <p style="margin-left: 8px; font-size: 17px; margin-bottom: 17px;">793
                                    TRY</p>
                            </div>
                            <div class="time-box">
                                <p style="color:rgb(111, 117, 123); font-size: 14px; margin-top: -1px;">50-min lesson
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="second-level">
                        <div style="margin: 15px 20px;"><button class="btn1">Book trial lesson</button></div>
                    </div>
                    <div class="third-level">
                        <div style="margin: 0px 20px;"><button class="btn2">Message</button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-box">
            <div class="teachers-list">
                <h2 style="text-align: center; margin-top: 10px; font-size: 35px; margin-bottom: 20px;">Our Tutors</h2>
                <div class="shortcut-box">
                    <img src="../static/images/male-profile.jpg"
                        style="width: 50px; height: 50px; border-radius: 10px; margin: 10px 10px;">
                    <div>
                        <p style="margin: 10px 10px 0px 10px; font-weight: bold;">Brendon S.</p>
                        <p style="margin: 5px 10px; font-size: 15px;">English Teacher</p>
                    </div>
                    <div>
                        <img src="../static/images/US-flag.png" width="30px" height="20px" style="margin: 13px 10px 10px 150px;">
                    </div>
                </div>

                <div class="shortcut-box">
                    <img src="../static/images/women-profile.webp"
                        style="width: 50px; height: 50px; border-radius: 10px; margin: 10px 10px;">
                    <div>
                        <p style="margin: 10px 10px 0px 10px; font-weight: bold;">Karishma M.</p>
                        <p style="margin: 5px 10px; font-size: 15px;">Chemistry Teacher</p>
                    </div>
                    <div>
                        <img src="../static/images/india-flag.webp" width="30px" height="20px"
                            style="margin: 13px 10px 10px 130px;">
                    </div>
                </div>

                <div class="shortcut-box">
                    <img src="../static/images/male-profile.jpg"
                        style="width: 50px; height: 50px; border-radius: 10px; margin: 10px 10px;">
                    <div>
                        <p style="margin: 10px 10px 0px 10px; font-weight: bold;">Kyle D.</p>
                        <p style="margin: 5px 10px; font-size: 15px;">Computer science Teacher</p>
                    </div>
                    <div>
                        <img src="../static/images/US-flag.png" width="30px" height="20px" style="margin: 13px 10px 10px 75px;">
                    </div>
                </div>

                <div class="shortcut-box">
                    <img src="../static/images/US-flag.png"
                        style="width: 50px; height: 50px; border-radius: 10px; margin: 10px 10px;">
                    <div>
                        <p style="margin: 10px 10px 0px 10px; font-weight: bold;"> Baharak M.</p>
                        <p style="margin: 5px 10px; font-size: 15px;">Algebra Teacher</p>
                    </div>
                    <div>
                        <img src="../static/images/US-flag.png" width="30px" height="20px" style="margin: 13px 10px 10px 145px;">
                    </div>
                </div>

                <div class="shortcut-box">
                    <img src="../static/images/male-profile.jpg"
                        style="width: 50px; height: 50px; border-radius: 10px; margin: 10px 10px;">
                    <div>
                        <p style="margin: 10px 10px 0px 10px; font-weight: bold;">Ryan H.</p>
                        <p style="margin: 5px 10px; font-size: 15px;">Biology Teacher</p>
                    </div>
                    <div>
                        <img src="../static/images/US-flag.png" width="30px" height="20px" style="margin: 13px 10px 10px 145px;">
                    </div>
                </div>

            </div>

            <div class="quote-box">
                <h2 style="text-align: center; margin-top: 10px; font-size: 30px; margin-bottom: 20px;">Quote of the Day
                </h2>
                <div>
                    <p>"Everyone who remembers his own education remembers teachers, not methods and techniques. The
                        teacher is the heart of the educational system."</p>
                    <p style="text-align: end;">–Sidney Hook</p>
                </div>

            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>