<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( "static",filename="tutor-page.css" )}}">
    <title>Find Students</title>
    <style>
    </style>
</head>
<body>
   <div class="header">
      <h2><span style="color: rgb(8, 31, 161); font-size: 40px; background-color: #fff;">Premium</span>Tutors</h2>
      <nav>
          <ul class="nav_links">
              <li><a href="/"><button class="findtutor-button">Find Tutors</button></a></li>
              <li><a href="/findstudent"><button class="becometutor-button">Find Student</button></a></li>
          </ul>
      </nav>
      <div class="wallet-container">
         <ion-icon name="wallet" class="wallet-icon"></ion-icon>
         <button class="btn1">0$</button>
     </div>
      <a href="/contact" target="_parent"><button
              class="contact-button">Contact Us</button></a>
      <a href="/logout" target="_parent"><button
              class="logout-button">Log Out</button></a>
  </div>




   <div class="main-part">
       <div class="first-portion">
           <div style="margin-bottom: 30px;">
               <p class="p1">Apply for online English tutoring jobs</p>
               <p class="p2">Premium Tutors is a worldwide website where you can find online tutoring jobs for
                   providing
                   tuition to
                   learners in general.</p>
               <p class="p1">Latest jobs</p>
           </div>

           <div class="all-info-container">
               <div class="first-part">
                   <p class="para1">
                       Looking for help in studying English from a qualified tutor online</p>
                   <p class="para2"> We live in Slovenia and I have a 6 year-old daughter. She is a beginner. Do you
                       have
                       experience with
                       such little kids? I would like her to have English lessons through this summer. 30 minutes per
                       week
                       and maybe a week or 2 we would be absent. What do you think? Thank you in advance for you
                       answer,
                       Korana Hollan</p>
                   <p class="para3">June 4, 2023</p>
               </div>

               <div class="second-part">
                   <p style="font-size: 18px; margin-left: 40px;">273-482 <span
                           style="font-size: 16px; margin-left: 5px;">TRY</span></p>
                   <p style="font-size: 15px; color: gray; margin-left: 60px;">per hour</p>
                   <button class="btn btn2">Apply now</button>
               </div>
           </div>

           <div class="all-info-container">
               <div class="first-part">
                   <p class="para1">
                       I need to become better in Chemistry online and get constructive advice from a competent tutor
                   </p>
                   <p class="para2"> I need help with an assignment. I can't do it alone. I will pay you. I need help
                       solving them. It's the duo in a few hours. I have been trying to do it for the last two days. I
                       can't pass it alone. It's calculation questions.</p>
                   <p class="para3">May 4, 2023</p>
               </div>

               <div class="second-part">
                   <p style="font-size: 18px; margin-left: 40px;">554-743 <span
                           style="font-size: 16px; margin-left: 5px;">TRY</span></p>
                   <p style="font-size: 15px; color: gray; margin-left: 60px;">per hour</p>
                   <button class="btn btn2">Apply now</button>
               </div>
           </div>

           <div class="all-info-container">
               <div class="first-part">
                   <p class="para1">
                       Online instructor wanted for Computer teaching job</p>
                   <p class="para2"> My name is Mohammed, I'm a software engineering student, and I am currently
                       working on
                       my senior project and doing UML diagrams such as use case class diagrams. I want to book a
                       lesson
                       with you to learn from you how to improve my charts.
                   </p>
                   <p class="para3">Jan 10, 2023</p>
               </div>

               <div class="second-part">
                   <p style="font-size: 18px; margin-left: 40px;">147-455 <span
                           style="font-size: 16px; margin-left: 5px;">TRY</span></p>
                   <p style="font-size: 15px; color: gray; margin-left: 60px;">per hour</p>
                   <button class="btn btn2">Apply now</button>
               </div>
           </div>

           <div class="all-info-container">
               <div class="first-part">
                   <p class="para1">
                       I would like to begin learning sessions online with a inspiring Algebra tutor</p>
                   <p class="para2"> My 14 -year old daughter Summer is interested in an algebra tutor that can help
                       her
                       prepare for her 9th-grade high school final exam. She is available anytime this week and next
                       week
                       after 4 PM EDT. Please let me know if you are open to tutoring her at least three days per week
                       or
                       more if needed. Thank you, Ed.
                   </p>
                   <p class="para3">May 30, 2023</p>
               </div>

               <div class="second-part">
                   <p style="font-size: 18px; margin-left: 40px;">200-400 <span
                           style="font-size: 16px; margin-left: 5px;">TRY</span></p>
                   <p style="font-size: 15px; color: gray; margin-left: 60px;">per hour</p>
                   <button class="btn btn2">Apply now</button>
               </div>
           </div>

           <div class="all-info-container">
               <div class="first-part">
                   <p class="para1">
                       I am looking for a proficient Biology private tutor</p>
                   <p class="para2"> Hi, My daughter is in 9th grade. But her level is behind. I need someone to assist
                       her
                       in catching up, slowly and surely. She has an online homeschool program where she gets video
                       lessons
                       and tests. So, I want you to help her to perform better, please. She will share the screen with
                       you
                       to help her understand the questions and complete her tests. Is that OK? Thanks, Eman
                   </p>
                   <p class="para3">Apr 2, 2023</p>
               </div>

               <div class="second-part">
                   <p style="font-size: 18px; margin-left: 40px;">105-314 <span
                           style="font-size: 16px; margin-left: 5px;">TRY</span></p>
                   <p style="font-size: 15px; color: gray; margin-left: 60px;">per hour</p>
                   <button class="btn btn2">Apply now</button>
               </div>
           </div>
       </div>

       <div class="second-portion">
           <p class="heading">Subjects</p>
           <fieldset class="subjects-box">
               <p>English</p>
               <hr>
               <p>Biology</p>
               <hr>
               <p>Computer Science</p>
               <hr>
               <p>Chemistry</p>
               <hr>
               <p>Algebra</p>
           </fieldset>

           <div class="quote-box">
               <h2 style="text-align: center; margin-top: 10px; font-size: 30px; margin-bottom: 20px;">Quote of the Day
               </h2>
               <div>
                   <p> “There are no secrets to success. It is the result of preparation, hard work, and learning from
                       failure.” </p>
                   <p style="text-align: end;">–Colin Powell</p>
               </div>

           </div>

       </div>
   </div>





   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>