@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Poppins:wght@500;700&family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid rgb(22, 41, 56);
}
 
.nav_links {
    list-style: none;
    background-color: #fff;
}
 
.nav_links li {
    display: inline-block;
    padding: 20px;
    color: rgb(22, 41, 56);
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
}
 
.nav_links li a {
    transform: all 0.3s ease 0s;
 
}
 
.nav_links li a:hover {
    transform: all 0.3s ease 0s;
}
 
.findtutor-button,
.becometutor-button,
.contact-button,
.logout-button {
    height: 38px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 80px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: fixed ;
    top: 20px;
    margin-top: 0px;
    text-decoration: none;


}
.logout-button{
    width: 120px;
    right: 20px;
}
.contact-button{
    right: 160px;
    width: 130px;

}
.findtutor-button{
    left: 400px;
    width: 131px;

}
.becometutor-button{
    left: 540px;
    width: 163px;

}
h2 {
    font-size: 35px;
    color: #162938;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
.main-part {


    margin-top: 40px;
}

.first-part {
    width: 100%;
    height: 380px;
    background-color: #E5E4E2;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 40px 120px;
    padding-top: 30px;
}

.contact-form input {
    width: 450px;
    height: 20px;
    padding: 7px;
    margin-bottom: 20px;
    border-color: rgb(22, 41, 56);
    border-style: solid;
}

::placeholder {
    color: rgb(22, 41, 56);
}

.third-box {
    width: 450px;
    height: 90px;
    color: rgb(22, 41, 56);
    padding: 7px;
    border: solid 2px rgb(22, 41, 56);
}

button {
    height: 38px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 80px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 100px;
    margin-top: 30px;
 }

.second-part {
    width: 100%;
    height: 365px;
    background-color: rgb(22, 41, 56);
    position: relative;
}

.about-us-part {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 120px;
    margin-top: 20px;
    color: white;
}

.p1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
}

.p2 {
   width: 450px;
   font-weight: bold;
   margin-top: 35px;
   word-spacing: 2px;
}

.p3 {
    width: 540px;
    font-size: 15px;
    margin-top: 30px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 800px;
    top: -110px;
    width: 300px;
    height: 380px;
    background-color: white;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;
}

.contact-box p {
    margin-bottom: -8px;
    font-size: 14px;
    text-align: center;
  
}